
body.dark {
  background: #121212;
  color: white;
}

body.dark section {
  background: #1f1f1f;
}

body.dark input {
  background: #2a2a2a;
  color: white;
  border: 1px solid #444;
}

body.dark footer {
  color: #bbb;
}

body.dark .attack-card {
  background: #2a2a2a;
  border: 1px solid #444;
}

body.dark header p,
body.dark footer {
  color: #bdbdbd;
}

body.dark #theme-toggle {
  background: #2a2a2a;
  color: white;
}